// Section padding
.aboutQuad {
    padding-top: 80px;
    padding-bottom: calc(80px + 4%);
}

// Icon styles
.aboutIcon {
    font-size: 1.3rem;
    color: $primaryBackgroundH2;
    background: $accentVibrant;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

// Quad Flex styles
.aboutQuadContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .aboutItem {
        width: calc((100% / 2) - 20px);
        display: flex;
        flex-direction: row;
    }

    .aboutItemTopRow {
        margin-bottom: 80px;
    }

    .aboutItem:nth-child(odd) {
        margin-right: 20px;
    }
    
    .aboutIconContainer {
        width: 80px;
    }
        
    .aboutWrittenContent {
        width: calc(100% - 80px);
    }

    .aboutHeader {
        padding-bottom: 15px;
    }
}

.aboutAnchor {
    display: block;
    border: 4px dotted transparent;
}

.aboutAnchor:hover .aboutHeader {
    color: $accentVibrant;
    text-decoration: underline;
}