// Section positioning
.blog {
    position: relative;
    z-index: 10;
    margin-top: -250px;
}

// flex styles
// Blog and Aside flex
.blogFlexContainer {
    display: flex;
    flex-direction: row;
    padding-top: 50px;

    .blogPostContainer {
        width: 63%;
        margin-right: 13.5%;
    }

    .blogAside {
        width: 23.5%;
        padding-top: 250px;
    }
}

// Blog Post margin, border and padding styles
.blogWrittenContainer {
    margin-right: -20px;
    border-bottom: 5px solid $accentVibrant;
    border-right: 5px solid $accentVibrant;
    padding: 80px 8% 40px 16.67%;
}

.blogPara {
    padding-top: 25px;
}

// Blog Comments flex, padding and additional styles
.commentsSection {
    padding: 0 8% 0 16.67%;

    .commentsHeading {
        color: $primaryText;
        padding: 40px 0;
    }

    .blogComment {
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;

        .userImage {
            width: 14%;

            &:hover .userProfilePic {
                border: 5px solid $accentVibrant;
            }
        }

        .commentContent {
            margin-left: 5%;
            width: calc((100% - 14%) - 5%);
        }
    }
}

// Blog Form styles
// Padding
.blogCommentForm {
    padding: 0 8% 0 16.67%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// Input styles
.blogCommentForm input[type="text"], .blogCommentForm input[type="email"] {
    margin: 0;
    width: 47%;
    border: none;
    border-bottom: 3px solid $accentVibrant;
    background: none;
    padding: 25px 50px;
    font-family: $primaryFont;
    font-size: 1rem;
    font-weight: $light;
    line-height: $heightSmall;
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
}

.blogCommentForm input[type="text"] {
    margin-right: 2%;
}

.blogCommentForm input[type="email"] {
    margin-left: 2%;
}

.blogCommentForm textarea {
    width: 100%;
    border: 3px solid $accentVibrant;
    background: none;
    padding: 25px 50px 125px 50px;
    font-family: $primaryFont;
    font-size: 1rem;
    font-weight: $light;
    line-height: $heightSmall;
    letter-spacing: 0.1rem;
    margin-bottom: 40px;
    resize: none;
}

.blogCommentForm button[type="submit"] {
    width: 100%;
    font-family: $accentFont;
    color: $primaryBackgroundH2;
    font-size: 1rem;
    line-height: $heightMedium;
    letter-spacing: 0.05rem;
    background: $accentText;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 80px;

    &:hover {
        color: $accentVibrant;
    }
}

// Blog Aside padding styles 
.blogAsidePara, .blogAsideListItem {
    padding-left: 1%;
}

.blogMission, .recentPosts {
    padding-right: 5%;
}

// Image box shadow 
.blogPostImage {
    box-shadow: 30px 30px 0px -10px $accentVibrant;
}

// Font Styles
// Blog Post
.blogPostTitle {
    font-size: 1.65rem;
}

.blogPostInfo, .blogAnchor {
    color: $accentText;
    font-size: 0.9rem;
    font-style: italic;
}

.blogAnchor {
    font-weight: $bold;

    &:hover {
        color: $accentVibrant;
    }
}

// Comments Section
.commentInfo, .userAccount {
    color: $accentText;
    font-weight: $bold;
}

.commentInfo {
    padding-bottom: 10px;
}

.userAccount:hover {
    color: $accentVibrant;
}

// Aside
.blogAsideHeading {
    font-size: 1.25rem;
    font-weight: $bold;
    line-height: $heightLarge;
    letter-spacing: 0.1rem;
    color: $accentText;
    padding: 10px 0;
}

.blogAsideAnchor {
    font-size: 1rem;
    font-weight: $regular;
    line-height: $heightSmall;
    letter-spacing: 0.1rem;
    color: $primaryText;
    margin-left: 1%;

    &:hover {
        color: $accentVibrant;
    }
}

.blogAsideListItem {
    list-style-position: inside;
    color: $accentVibrant;
}