// TEMPORARY
.blog {
    background: tomato;
}

.blogPostContainer {
    width: 60%;
}

// TEMPORARY
.blogWrittenContainer {
    border: 5px solid turquoise;
}

// Font Styles
.commentsHeading {
    color: $primaryText;
}