// Contact Nav styles
.contactNavList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .contactNavAnchor {
        color: $primaryText;
        font-size: 1.2rem;
        padding: 5px;

        &:hover {
            color: $accentVibrant;
        }
    }
    .contactNavAnchorLeft {
        padding-left: 0;
    }

    .contactNavListItem {
        padding: 10px;
    }
    .contactNavListItemLeft {
        padding-left: 0;
    }
}

// Address styles
.contactAddressInfo {
    font-style: normal;
    
    .contactAddressAnchor {
        color: $primaryText;

        &:hover {
            color: $accentVibrant;
            font-weight: $bold;
        }
    }

    .contactAddressAnchor:nth-child(1) {
        font-weight: $bold;
        font-size: 1.3rem;
        letter-spacing: 0.15rem;
        line-height: $heightLarge;
    }

    .addressItem {
        line-height: $heightMedium;
        // font-size: 1.1rem;
        // font-weight: $light;
        letter-spacing: 0.1rem;
    }
}