// Section positioning
.contactMethods {
    position: relative;
    z-index: 10;
    margin-top: -250px;
}

// Flex styles
.contactFlexContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
        
        .contactFormContainer {
            width: 77%;
            margin: 0 8.5% 130px -5%;
            background: $primaryBackgroundH2;
            padding: 5% 5% 0px 5%;
        }

        .contactInfoContainer {
            width: 23%;
            padding-left: 2%;
            padding-top: 250px;
        }
}