// form box shadow 
.contactFormContainer {
    box-shadow: 30px 30px 0px -10px $accentVibrant;
}

// Contact Form Input Styles 
.commentForm textarea {
    padding: 25px 50px 175px 50px;
}

.commentForm button[type="submit"] {
    margin-bottom: 55px;
}