// Color
$primaryText: #2c2c2c;
$accentText: #063974;
$accentText2: #0c5f4c;
$primaryBackgroundH2: #fafffe;
$secondaryBackground: #d2f9f1;
$accentVibrant: #50e3c2;

// Font families
$primaryFont: 'Lato', sans-serif;
$accentFont: 'Playfair Display SC', serif;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

// Line heights
$heightLarge: 2.9rem;
$heightMedium: 1.6rem;
$heightSmall: 1.45rem;

// Padding
$sectionPadding: 80px 0;
$beforeMoreAnchor: 25px;
$imageOnTop: 50px;