// Padding and margin
.visitGuyana {
    padding: $sectionPadding;
}

// Section Flex Styles
.guyanaFlexContainer {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .guyanaContentContainer {
        flex-grow: 1;
        flex-shrink: 2;
        padding-right: 70px;
    }

    .guyanaImageContainer {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 375px;
        padding-left: 70px;
    }

    .guyanaImage {
        box-shadow: -17px 17px 0px 0px $accentVibrant;
    }
}

// Additional Section Styles
.guyanaPara {
    padding-bottom: $beforeMoreAnchor;
}