article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* GENERAL STYLES */
/*Default styles*/
a {
  text-decoration: none; }

img {
  max-width: 100%;
  width: 100%;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0; }

/* Wrapper styles */
.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.innerWrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto; }

/*Font and Background Styles*/
html {
  font-size: 125%;
  scroll-behavior: smooth; }

body {
  color: #2c2c2c;
  background: #fafffe;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Playfair Display SC", serif;
  color: #063974;
  font-size: 5.56rem;
  text-transform: uppercase;
  line-height: 6rem; }

h2 {
  color: #fafffe;
  font-size: 4.35rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.45rem; }

h3 {
  color: #0c5f4c;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.19rem; }

h4 {
  color: #0c5f4c;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.19rem; }

h5 {
  font-family: "Playfair Display SC", serif;
  color: #50e3c2;
  font-size: 1.73rem; }

h6 {
  color: #0c5f4c;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.16rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45rem;
  letter-spacing: 0.1rem; }

.more {
  font-family: "Playfair Display SC", serif;
  color: #fafffe;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background: #063974;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px; }
  .more:hover {
    color: #50e3c2; }
  .more:active {
    border-radius: 5px; }

.lowercase {
  text-transform: lowercase; }

.upperHeaderContainer {
  min-height: 90vh;
  width: 100%;
  background-image: url(../assets/homeImage1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.navAnchor {
  text-decoration: none;
  color: #fafffe;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase; }

.welcome {
  font-family: "Lato", sans-serif;
  color: #0c5f4c;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.335rem;
  display: block;
  text-transform: lowercase; }

/* Skip Link */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 2%;
  z-index: 999;
  background: #ffffff;
  border: 2px solid #50e3c2;
  color: #50e3c2;
  padding: 10px; }

.skipLink:focus {
  left: 5%; }

.headerNav {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navLogo {
  width: 20%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.navList {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
  .navList .navAnchor {
    padding: 10px;
    margin: 15px; }
    .navList .navAnchor:hover {
      color: #50e3c2; }

.navList .anchorRight {
  padding-right: 5px;
  margin-right: 0px; }

.largeLogoContainer {
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 9.5%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 10; }

.headerImageContainer {
  position: relative;
  z-index: 1;
  margin-top: -32.5%; }

.headerOverlapImage {
  max-width: 695px; }

.visitGuyana {
  padding: 80px 0; }

.guyanaFlexContainer {
  width: 100%;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .guyanaFlexContainer .guyanaContentContainer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    padding-right: 70px; }
  .guyanaFlexContainer .guyanaImageContainer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 375px;
    flex-basis: 375px;
    padding-left: 70px; }
  .guyanaFlexContainer .guyanaImage {
    -webkit-box-shadow: -17px 17px 0px 0px #50e3c2;
    box-shadow: -17px 17px 0px 0px #50e3c2; }

.guyanaPara {
  padding-bottom: 25px; }

.imageTrio {
  background: #d2f9f1;
  padding: 80px 0; }

.imageTrioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.galleryImage {
  width: calc 27.33333%;
  margin: 0 1.5%; }

.galleryImage:nth-child(1) {
  margin-left: 0; }

.galleryImage:nth-child(3) {
  margin-right: 0; }

.aboutQuad {
  padding-top: 80px;
  padding-bottom: calc(80px + 4%); }

.aboutIcon {
  font-size: 1.3rem;
  color: #fafffe;
  background: #50e3c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px; }

.aboutQuadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .aboutQuadContainer .aboutItem {
    width: calc((100% / 2) - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .aboutQuadContainer .aboutItemTopRow {
    margin-bottom: 80px; }
  .aboutQuadContainer .aboutItem:nth-child(odd) {
    margin-right: 20px; }
  .aboutQuadContainer .aboutIconContainer {
    width: 80px; }
  .aboutQuadContainer .aboutWrittenContent {
    width: calc(100% - 80px); }
  .aboutQuadContainer .aboutHeader {
    padding-bottom: 15px; }

.aboutAnchor:hover .aboutHeader {
  color: #50e3c2;
  text-decoration: underline; }

.thingsToKnow {
  background: #d2f9f1; }

.toKnowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.toKnowFlexItem {
  width: 50%; }

.colorChange {
  color: #063974; }

.toKnowPara {
  padding-top: 10px;
  padding-bottom: 40px; }

.toKnowFlexItem:nth-child(odd) {
  padding-right: 6.25%;
  padding-bottom: 35px; }

.toKnowFlexItem:nth-child(even) {
  padding-left: 6.25%;
  padding-top: 35px; }

.topRightWritten {
  padding-right: 12.5%; }

.bottomLeftWritten {
  padding-left: 12.5%; }

.bottomLeftWritten {
  text-align: right; }

.toKnowImageLeft {
  -webkit-box-shadow: 30px 30px 0px -10px #50e3c2;
  box-shadow: 30px 30px 0px -10px #50e3c2;
  position: relative;
  z-index: 10;
  margin-top: -6%; }

.toKnowImageRight {
  -webkit-box-shadow: -20px 20px 0px 0px #50e3c2;
  box-shadow: -20px 20px 0px 0px #50e3c2;
  position: relative;
  z-index: 10;
  margin-bottom: -6%; }

.freeTripContent {
  padding: 150px 18%;
  text-align: center; }

.freeTripPara {
  padding: 25px 0; }

.footer {
  background: #2c2c2c;
  padding: 10px 0;
  color: #fafffe;
  text-align: center; }

.blogHeader {
  min-height: 67vh;
  width: 100%;
  background-image: url(../assets/blogImage1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.navLogo {
  width: 20%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.blog {
  position: relative;
  z-index: 10;
  margin-top: -250px; }

.blogFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 50px; }
  .blogFlexContainer .blogPostContainer {
    width: 63%;
    margin-right: 13.5%; }
  .blogFlexContainer .blogAside {
    width: 23.5%;
    padding-top: 250px; }

.blogWrittenContainer {
  margin-right: -20px;
  border-bottom: 5px solid #50e3c2;
  border-right: 5px solid #50e3c2;
  padding: 80px 8% 40px 16.67%; }

.blogPara {
  padding-top: 25px; }

.commentsSection {
  padding: 0 8% 0 16.67%; }
  .commentsSection .commentsHeading {
    color: #2c2c2c;
    padding: 40px 0; }
  .commentsSection .blogComment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 100px; }
    .commentsSection .blogComment .userImage {
      width: 14%; }
      .commentsSection .blogComment .userImage:hover .userProfilePic {
        border: 5px solid #50e3c2; }
    .commentsSection .blogComment .commentContent {
      margin-left: 5%;
      width: calc((100% - 14%) - 5%); }

.blogCommentForm {
  padding: 0 8% 0 16.67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blogCommentForm input[type="text"], .blogCommentForm input[type="email"] {
  margin: 0;
  width: 47%;
  border: none;
  border-bottom: 3px solid #50e3c2;
  background: none;
  padding: 25px 50px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.45rem;
  letter-spacing: 0.1rem;
  margin-bottom: 40px; }

.blogCommentForm input[type="text"] {
  margin-right: 2%; }

.blogCommentForm input[type="email"] {
  margin-left: 2%; }

.blogCommentForm textarea {
  width: 100%;
  border: 3px solid #50e3c2;
  background: none;
  padding: 25px 50px 125px 50px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.45rem;
  letter-spacing: 0.1rem;
  margin-bottom: 40px;
  resize: none; }

.blogCommentForm button[type="submit"] {
  width: 100%;
  font-family: "Playfair Display SC", serif;
  color: #fafffe;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background: #063974;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 80px; }
  .blogCommentForm button[type="submit"]:hover {
    color: #50e3c2; }

.blogAsidePara, .blogAsideListItem {
  padding-left: 1%; }

.blogMission, .recentPosts {
  padding-right: 5%; }

.blogPostImage {
  -webkit-box-shadow: 30px 30px 0px -10px #50e3c2;
  box-shadow: 30px 30px 0px -10px #50e3c2; }

.blogPostTitle {
  font-size: 1.65rem; }

.blogPostInfo, .blogAnchor {
  color: #063974;
  font-size: 0.9rem;
  font-style: italic; }

.blogAnchor {
  font-weight: 700; }
  .blogAnchor:hover {
    color: #50e3c2; }

.commentInfo, .userAccount {
  color: #063974;
  font-weight: 700; }

.commentInfo {
  padding-bottom: 10px; }

.userAccount:hover {
  color: #50e3c2; }

.blogAsideHeading {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  color: #063974;
  padding: 10px 0; }

.blogAsideAnchor {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45rem;
  letter-spacing: 0.1rem;
  color: #2c2c2c;
  margin-left: 1%; }
  .blogAsideAnchor:hover {
    color: #50e3c2; }

.blogAsideListItem {
  list-style-position: inside;
  color: #50e3c2; }
